.git
.cursor
**/__pycache__
**/*.pyc
**/.venv
**/venv
**/node_modules
frontend/dist
backend/runs/*
!backend/runs/.gitkeep
frontend/node_modules
backend/.DS_Store
**/*.ipynb
backend/sim_results
backend/older_sims
older_sims
**/.DS_Store
**/.ipynb_checkpoints
*.md
!README.md
